.git*
.idea*
.venv*
migrations*
bin
dev.sqlite3
nohup.out
README.md
*.log
makefile.dev
makefile.docker
Makefile
setup.py
tests
src/instance/*.bak
src/instance/*.template
.pytest_cache
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__

*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc
